/**
 * Recode: zhangfs by Atom - 2018/04/19
 * Note: old: 900 lines; recode: 93 lines;
 */
.echarts {
    height: 5.2rem;
}

.funnelDate {
    position: absolute;
    top: 2.3rem;
    left: 6.6rem;
    width: 1rem;
    z-index: 200;
}

.funnelDate .per {
    width: 100%;
    height: .85rem;
    line-height: .85rem;
    font-size: .25rem;
    color: #0F0F0F;
    z-index: 201;
}

.user-rebuy .headLine p, .rebuyVal li p {
    text-align: center;
}
.user-rebuy .headLine p:nth-of-type(1), .rebuyVal li p:nth-of-type(1) { width: 23% }
.user-rebuy .headLine p:nth-of-type(2), .rebuyVal li p:nth-of-type(2) { width: 18% }
.user-rebuy .headLine p:nth-of-type(3), .rebuyVal li p:nth-of-type(3) { width: 18% }
.user-rebuy .headLine p:nth-of-type(4), .rebuyVal li p:nth-of-type(4) { width: 21% }

.user-stay .headLine, .stayVal {
    width: 20rem;
}
.user-stay .headLine p, .stayVal li p {
    width: 11.11%;
    text-align: center;
}

.user-license .scroll-cont .headLine, .licenseVal {
    width: 20rem;
}
.user-license .scroll-cont .headLine p, .licenseVal li p {
    width: 14%;
    text-align: center;
}
.user-license .scroll-cont .headLine p:nth-of-type(1), .licenseVal li p:nth-of-type(1) { width: 8% }
.user-license .scroll-cont .headLine p:nth-of-type(5), .licenseVal li p:nth-of-type(5) { width: 20% }
.user-license .scroll-cont .headLine p:nth-of-type(6), .licenseVal li p:nth-of-type(6) { width: 15% }
.user-license .scroll-cont .headLine p:nth-of-type(7), .licenseVal li p:nth-of-type(7) { width: 15% }

.car-usable .scroll-cont .headLine, .carUsableVal {
    width: 28rem;
}

.car-usable .scroll-cont .headLine p, .carUsableVal li p {
    width: 11%;
    text-align: center;
}

.car-usable .scroll-cont .headLine p:nth-of-type(1), .carUsableVal li p:nth-of-type(1) { width: 5% }
.car-usable .scroll-cont .headLine p:nth-of-type(2), .carUsableVal li p:nth-of-type(2) { width: 9% }
.car-usable .scroll-cont .headLine p:nth-of-type(3), .carUsableVal li p:nth-of-type(3) { width: 9% }
.car-usable .scroll-cont .headLine p:nth-of-type(4), .carUsableVal li p:nth-of-type(4) { width: 9% }
.car-usable .scroll-cont .headLine p:nth-of-type(8), .carUsableVal li p:nth-of-type(8) { width: 13% }
.car-usable .scroll-cont .headLine p:nth-of-type(9), .carUsableVal li p:nth-of-type(9) { width: 13% }
.car-usable .scroll-cont .headLine p:nth-of-type(10), .carUsableVal li p:nth-of-type(10) { width: 13% }


.purchase .headLine p,
.purchaseVal li p,
.firstOrder .headLine p,
.foVal li p {
    width: 20%;
    text-align: center;
}

.purchase .headLine p:nth-of-type(2),
.purchaseVal li p:nth-of-type(2),
.firstOrder .headLine p:nth-of-type(2),
.foVal li p:nth-of-type(2) {
    width: 40%;
}

.purchase .headLine p:nth-of-type(3),
.purchaseVal li p:nth-of-type(3),
.firstOrder .headLine p:nth-of-type(3),
.foVal li p:nth-of-type(3) {
    width: 40%
}
