/**
 * Created: dameng by webstorm
 * Date: 2017/11/15 09:05
 * Recode: zhangfs by Atom 2018/04/21
 * Note: old: 353 lines
 */
.city-map {
    background: transparent;
    box-shadow: initial;
    margin-bottom: 0;
}

.city-map .echarts {
    height: 7rem;
    padding-bottom: 0;
}

.city-overview {
    margin-top: 0;
}

.headLine {
    margin: .2rem 0 0;
}

.headLine p, .itemVal li p {
    text-align: center;
}

li p img {
    left: 80%;
}

.kpi-circle .echarts {
    height: 3rem;
}

.circle-line, .circledata-line {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: .27rem;
}
.circledata-line:last-child {
    padding-bottom: 0;
}

.circle-line div {
    /*width: 100%;  */   /* 100% 的宽度会导致echarts获取宽度失败 */
    width: 396px;
    height: 1.8rem;
    text-align: center;
    margin-top: .3rem;
}
.circledata-line>div {
    width: 100%;
    height: 1rem;
    text-align: center;
}

.circledata-line>div p:first-child {
    height: .5rem;
    color: #0DB95F;
    font-size: 0.37rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.circledata-line>div p:last-child {
    color: #647888;
    font-size: 0.27rem;
    line-height: .5rem;
}
