/**
 * Created: dameng by webstorm
 * Date: 2017/11/15 09:05
 * Recode: zhangfs by Atom 2018/04/21
 * Note: old: 353 lines
 */
.city-map {
    background: transparent;
    box-shadow: initial;
    margin-bottom: 0;
}

.city-map .echarts {
    height: 7rem;
    padding-bottom: 0;
}

.city-overview {
    margin-top: 0;
}

.headLine {
    margin: .2rem 0 0;
}

.headLine p, .itemVal li p {
    width: 25%;
}

li p img {
    left: 80%;
}

.kpi-circle .echarts {
    height: 3rem;
}

.circle-line, .circledata-line {
    display: flex;
    justify-content: center;
    width: 100%;
}

.circle-line div {
    width: 25%;   /* 100% 配合echarts图表有些问题 */
    height: 1.8rem;
    text-align: center;
    margin-top: .3rem;
}
.circledata-line>div {
    width: 100%;  /* 100% 让其自动挤压均匀分配 */
    height: 1rem;
    text-align: center;
    padding-top: .27rem;
    /*border-right: 1px solid #bbb;*/
}
.circledata-line>div:last-child {
    border-right: initial;
}

.circledata-line>div p:first-child {
    height: .5rem;
    color: #0DB95F;
    font-size: 0.37rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.circledata-line>div p:last-child {
    color: #647888;
    font-size: 0.27rem;
    line-height: .5rem;
}
.circledata-line>div p:last-child span {
    float: left;
    text-align: left;
    white-space: nowrap;
}

.carType-box {
    padding-top: .12rem;
}
