/**
 * Created with Atom.
 * Author: zhangfs
 * Date: 2018/03/25
 * Time: 11:20
 */

.acdBubble {
    position: absolute;
    top: .3rem;
    left: 5.8rem;
    width: 1.35rem;
    height: .5rem;
    line-height: .5rem;
    color: #ffffff;
    font-size: .3rem;
    background-color: #0DB95F;
    border-radius: .1rem;
}

.acdBubble:before {
    content: '';
    position: absolute;
    top: 0;
    left: -.41rem;
    width: 0px;
    height: 0px;
    border-left: solid .25rem transparent;
    border-top: solid .35rem transparent;
    border-bottom: solid .1rem transparent;
    border-right: solid .3rem #0DB95F;
}




.accident .headLine p:nth-child(1), .acdVal li p:nth-child(1) { width: 20%; }
.accident .headLine p:nth-child(2), .acdVal li p:nth-child(2) { width: 29%; }
.accident .headLine p:nth-child(3), .acdVal li p:nth-child(3) { width: 28%; }
.accident .headLine p:nth-child(4), .acdVal li p:nth-child(4) { width: 23%; }

.peccancy .headLine p:nth-child(1) { width: 16%; }
.pecVal li p:nth-child(1) { width: 18%; }
.peccancy .headLine p:nth-child(2) { width: 25%;  }
.pecVal li p:nth-child(2) { width: 23%;  }
.peccancy .headLine p:nth-child(3), .pecVal li p:nth-child(3) { width: 18%; }
.peccancy .headLine p:nth-child(4), .pecVal li p:nth-child(4) { width: 17%; }
.peccancy .headLine p:nth-child(5), .pecVal li p:nth-child(5) { width: 24%; }

.pecDetail .headLine p:nth-child(1), .pecDetailVal li p:nth-child(1) { width: 22%; }
.pecDetail .headLine p:nth-child(5), .pecDetailVal li p:nth-child(5) { width: 18%; }
