/**
 * Created with Atom.
 * Author: zhangfs
 * Date: 2018/03/25
 * Time: 11:20
 */

.acdBubble {
    position: absolute;
    top: .3rem;
    left: 5.8rem;
    width: 1.35rem;
    height: .5rem;
    line-height: .5rem;
    color: #ffffff;
    font-size: .3rem;
    background-color: #0DB95F;
    border-radius: .1rem;
}

.acdBubble:before {
    content: '';
    position: absolute;
    top: 0;
    left: -.41rem;
    width: 0px;
    height: 0px;
    border-left: solid .25rem transparent;
    border-top: solid .35rem transparent;
    border-bottom: solid .1rem transparent;
    border-right: solid .3rem #0DB95F;
}


.accident .headLine p:nth-child(1), .acdVal li p:nth-child(1) { width: 20%; }
.accident .headLine p:nth-child(2), .acdVal li p:nth-child(2) { width: 29%; }
.accident .headLine p:nth-child(3), .acdVal li p:nth-child(3) { width: 28%; }
.accident .headLine p:nth-child(4), .acdVal li p:nth-child(4) { width: 23%; }


.peccancy .scroll-cont .headLine, .pecVal {
    width: 13rem;
}
.peccancy .scroll-cont .headLine p, .pecVal li p {
    width: 15%;
}
.peccancy .scroll-cont .headLine p:nth-child(2), .pecVal li p:nth-child(2) { width: 18.3%; }
.peccancy .scroll-cont .headLine p:nth-child(3), .pecVal li p:nth-child(3) { width: 18.4%; }
.peccancy .scroll-cont .headLine p:nth-child(6), .pecVal li p:nth-child(6) { width: 18.3%; }


.pecDetail .headLine p:nth-child(1), .pecDetailVal li p:nth-child(1) { width: 22%; }
.pecDetail .headLine p:nth-child(5), .pecDetailVal li p:nth-child(5) { width: 18%; }


.pushMoney .scroll-cont .headLine, .pmVal {
    width: 12rem;
}
.pushMoney .scroll-cont .headLine p, .pmVal li p {
    width: 15%;
}
.pushMoney .scroll-cont .headLine p:nth-child(1), .pmVal li p:nth-child(1) { width: 11.5%; }
.pushMoney .scroll-cont .headLine p:nth-child(2), .pmVal li p:nth-child(2) { width: 28.5%; }
