.order .scroll-cont .headLine, .odVal {
    width: 13.8rem;
}

.order .scroll-cont .headLine p, .odVal li p {
    width: 16.6%;
}

.orderHistory .headLine, .odHisVal {
    width: 16rem;
}
.orderHistory .scroll-cont .headLine p, .odHisVal li p {
    width: 11.1%;
}

.odHisVal li:first-child {
    background: #c2fbcb;
}
