.site .headLine p:first-child, .siteVal li p:first-child { width: 23%; }
.site .headLine p:nth-child(4), .siteVal li p:nth-child(4) { width: 19%; }
.site .headLine p:nth-child(5), .siteVal li p:nth-child(5) { width: 18%; }

.site-change .headLine p, .changeVal li p {
    text-align: center;
}
.site-change .headLine p:first-child, .changeVal li p:first-child { width: 25%; }
.site-change .headLine p:nth-child(3), .changeVal li p:nth-child(3) { width: 18%; }
.site-change .headLine p:nth-child(4), .changeVal li p:nth-child(4) { width: 19%; }
.site-change .headLine p:nth-child(5), .changeVal li p:nth-child(5) { width: 18%; }


.site-detail .scroll-cont .headLine, .detailVal {
    width: 15.8rem;
}
.site-detail .scroll-cont .headLine p, .detailVal li p {
    text-align: center;
}
.site-detail .scroll-cont .headLine p:first-child, .detailVal li p:first-child { width: 16.08%; }
.site-detail .scroll-cont .headLine p:nth-child(2), .detailVal li p:nth-child(2) { width: 11%; }
.site-detail .scroll-cont .headLine p:nth-child(3), .detailVal li p:nth-child(3) { width: 12.8%; }
.site-detail .scroll-cont .headLine p:nth-child(4), .detailVal li p:nth-child(4) { width: 15.8%; }
.site-detail .scroll-cont .headLine p:nth-child(5), .detailVal li p:nth-child(5) { width: 15.8%; }
.site-detail .scroll-cont .headLine p:nth-child(6), .detailVal li p:nth-child(6) { width: 15.8%; }
.site-detail .scroll-cont .headLine p:nth-child(7), .detailVal li p:nth-child(7) { width: 12.8%; }


.site-car .scroll-cont .headLine, .siteCarVal {
    width: 20rem;
}

.site-car .scroll-cont .headLine p, .siteCarVal li p {
    width: 10%;
    text-align: center;
}
.site-car .scroll-cont .headLine p:first-child, .siteCarVal li p:first-child { width: 16%; }
.site-car .scroll-cont .headLine p:last-child, .siteCarVal li p:last-child { width: 14%; }
.site-car .multiSelection .selection-box {
    margin-left: 1.667rem;
}


.site-order .scroll-cont .headLine, .soVal {
    width: 38rem;
}
.site-order .scroll-cont .headLine p, .soVal li p {
    width: 5.88%;
    text-align: center;
}
.site-order .scroll-cont .headLine p:nth-of-type(1), .soVal li p:nth-of-type(1) { width: 8%; }
.site-order .scroll-cont .headLine p:nth-of-type(4), .soVal li p:nth-of-type(4) { width: 4.5%; }
.site-order .scroll-cont .headLine p:nth-of-type(5), .soVal li p:nth-of-type(5) { width: 4.5%; }
.site-order .scroll-cont .headLine p:nth-of-type(6), .soVal li p:nth-of-type(6) { width: 4.5%; }
.site-order .scroll-cont .headLine p:nth-of-type(15), .soVal li p:nth-of-type(15) { width: 7.62%; }
.site-order .scroll-cont .headLine p:nth-of-type(16), .soVal li p:nth-of-type(16) { width: 7.62%; }
.site-order .scroll-cont .headLine p:nth-of-type(17), .soVal li p:nth-of-type(17) { width: 7.62%; }



.box {
  width: 10rem;
  padding-top: 1.0666666667rem; }
  .box .header {
    width: 10rem;
    height: 1.0666666667rem;
    background-image: linear-gradient(-180deg, #4C555E 0%, #252A30 80%);
    box-shadow: 0 0.0533333333rem 0.1333333333rem 0 rgba(0, 0, 0, 0.1);
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999; }
    .box .header .slideBtn {
      width: 0.5333333333rem;
      height: 0.4266666667rem;
      background: url("../images/icon_menu.png");
      -webkit-background-size: cover;
      background-size: cover;
      margin-left: 0.2666666667rem;
      margin-top: 0.32rem; }
    .box .header .logo {
      width: 1.3866666667rem;
      height: 0.8533333333rem;
      background: url("../images/logo_bar.png");
      -webkit-background-size: cover;
      background-size: cover;
      margin: 0.1066666667rem 0 0 3.6266666667rem; }
    .box .header .location {
      width: 1.9rem;
      height: 0.48rem;
      margin: 0.2933333333rem 0 0 2rem;
      display: flex; }
      .box .header .location .showCity {
        width: 1.4rem;
        height: 0.48rem;
        font-size: 0.3466666667rem;
        color: #ABB7C1;
        letter-spacing: 0; }
      .box .header .location .showCityIcon {
        width: 0.2666666667rem;
        height: 0.3466666667rem;
        margin: 0.0666666667rem 0 0 0.1066666667rem;
        background: url("../images/icon_location.png");
        -webkit-background-size: cover;
        background-size: cover; }
  .box .cars {
    width: 10rem;
    background: #F2F3F5;
    padding-bottom: 1.3333333333rem; }
    .box .cars .carType {
      width: 100%;
      height: 0.5866666667rem;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      margin-bottom: 0.2666666667rem !important;
      position: relative;
      font-size: 0.32rem;
      color: #333;
      line-height: 0.5866666667rem; }
      .box .cars .carType .carTypeCommon {
        background: #F2F3F5;
        border-radius: 0.1066666667rem;
        width: 1.1733333333rem;
        height: 0.5333333333rem;
        font-size: 0.2933333333rem;
        line-height: 0.5333333333rem;
        color: #ABB7C1;
        letter-spacing: 0;
        text-align: center;
        margin-right: 0.48rem; }
      .box .cars .carType .carTypeCommon:last-child {
        margin-right: 0; }
      .box .cars .carType .carTypeCommon.active {
        color: #0DB95F;
        background: #DBF7E8; }
      .box .cars .carType .appDateTime {
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5666666667rem;
        font-size: 0.32rem;
        color: #0DB95F;
        letter-spacing: 0;
        height: 0.5866666667rem;
        background: transparent; }
      .box .cars .carType .appDateTime1 {
        width: 1.5666666667rem;
        font-size: 0.32rem;
        color: #0DB95F;
        letter-spacing: 0;
        height: 0.5866666667rem;
        background: transparent; }
    .box .cars .orderCommon {
      width: 9.3333333333rem;
      background: #fff;
      box-shadow: 0 0.0533333333rem 0.1066666667rem 0 #D5D9DD;
      border-radius: 0.2133333333rem;
      margin: 0.5333333333rem auto 0;
      padding-bottom: 0.4rem; }
      .box .cars .orderCommon .orderTitle {
        text-align: center;
        width: 100%;
        height: 1.0133333333rem;
        font-size: 0.3466666667rem;
        color: #425C72;
        letter-spacing: 0;
        line-height: 1.0133333333rem;
        font-weight: bold;
        margin-top: 0.2666666667rem;
        position: relative; }
        .box .cars .orderCommon .orderTitle .line {
          height: 1.0133333333rem;
          width: 1.0666666667rem;
          position: absolute;
          right: 0.5333333333rem;
          top: 0;
          line-height: 1.0133333333rem;
          font-size: 0.2666666667rem;
          color: #0DB95F; }
          .box .cars .orderCommon .orderTitle .line .trangle {
            width: 0.16rem;
            height: 0.08rem;
            background: url("../images/Triangle 3.png");
            -webkit-background-size: cover;
            background-size: cover;
            position: absolute;
            right: -0.2666666667rem;
            top: 46%; }
          .box .cars .orderCommon .orderTitle .line #line {
            width: 100%;
            height: 1.0133333333rem;
            line-height: 1.0133333333rem;
            text-align: right;
            font-size: 0.2666666667rem;
            color: #0DB95F; }
      .box .cars .orderCommon .headLine {
        width: 9.0666666667rem;
        height: 0.5333333333rem;
        margin: 0 auto;
        font-size: 0.3466666667rem;
        color: #365873;
        letter-spacing: 0;
        border-bottom: 0.03rem solid #EAEFF3;
        display: flex; }
        .box .cars .orderCommon .headLine p {
          width: 20%;
          height: 0.5333333333rem;
          line-height: 0.5333333333rem;
          text-align: left; }
      .box .cars .orderCommon .orderList {
        width: 9.0666666667rem;
        margin: 0 auto; }
        .box .cars .orderCommon .orderList .anlysis {
          width: 100%;
          height: 0.5333333333rem;
          line-height: 0.5333333333rem;
          display: flex; }
          .box .cars .orderCommon .orderList .anlysis p {
            width: 20%;
            text-align: left;
            font-size: 0.2666666667rem;
            color: #425C72;
            letter-spacing: 0;
            overflow-x: scroll; }
          .box .cars .orderCommon .orderList .anlysis .orderUp {
            width: 0.24rem;
            height: 0.2666666667rem;
            margin-right: 0.1333333333rem;
            margin-top: 0.1333333333rem; }
      .box .cars .orderCommon .orderList2 {
        height: 5.0666666667rem; }
      .box .cars .orderCommon .page {
        width: 2.6666666667rem;
        height: 0.5333333333rem;
        margin: 0.2666666667rem auto 0;
        display: flex;
        color: #425C72;
        font-size: 0.2666666667rem; }
        .box .cars .orderCommon .page .pre {
          height: 100%;
          width: 0.5333333333rem;
          line-height: 0.5333333333rem;
          text-align: center; }
        .box .cars .orderCommon .page .next {
          height: 100%;
          width: 0.5333333333rem;
          line-height: 0.5333333333rem;
          text-align: center; }
        .box .cars .orderCommon .page .page-mid {
          width: 1.6rem;
          text-align: center;
          line-height: 0.5333333333rem;
          height: 0.5333333333rem; }
    .box .cars .carCommon {
      width: 9.4666666667rem;
      height: 7.8933333333rem;
      background: #FFFFFF;
      box-shadow: 0 0.0533333333rem 0.1066666667rem 0 #D5D9DD;
      border-radius: 0.2133333333rem;
      margin: 0.5866666667rem auto 0;
      position: relative; }
      .box .cars .carCommon .date {
        width: 100%;
        height: 0.8rem;
        margin: 0.2666666667rem auto;
        position: relative;
        text-align: center;
        font-size: 0.3466666667rem;
        color: #425C72;
        letter-spacing: 0;
        line-height: 0.8rem;
        font-weight: bold; }
        .box .cars .carCommon .date .first-s {
          height: 100%;
          width: 1.0666666667rem;
          position: absolute;
          right: 0.5333333333rem;
          top: 0;
          line-height: 0.8rem;
          font-size: 0.2666666667rem;
          color: #0DB95F; }
          .box .cars .carCommon .date .first-s .trangle {
            width: 0.16rem;
            height: 0.08rem;
            background: url("../images/Triangle 3.png");
            -webkit-background-size: cover;
            background-size: cover;
            position: absolute;
            right: -0.2666666667rem;
            top: 50%;
            margin-top: -0.0266666667rem; }
          .box .cars .carCommon .date .first-s #first-s {
            width: 100%;
            height: 0.8rem;
            line-height: 0.8rem;
            text-align: right;
            font-size: 0.2666666667rem;
            color: #0DB95F; }
      .box .cars .carCommon #dateCarChart1, .box .cars .carCommon #dateCarChart2, .box .cars .carCommon #dateCarChart3, .box .cars .carCommon #dateCarChart4 {
        height: 4.9066666667rem;
        width: 100%;
        background: #ccc; }
      .box .cars .carCommon .carDetail {
        width: 8.4rem;
        margin-left: 1rem; }
        .box .cars .carCommon .carDetail .carDetailList {
          width: 8.4rem;
          display: flex;
          justify-content: space-between;
          font-size: 0.2933333333rem;
          color: #425C72;
          letter-spacing: 0;
          margin: 0.1066666667rem auto 0; }
          .box .cars .carCommon .carDetail .carDetailList .carsListContent {
            width: 3.2rem;
            height: 0.4266666667rem;
            line-height: 0.4266666667rem; }
            .box .cars .carCommon .carDetail .carDetailList .carsListContent .carDatas {
              color: #0DB95F; }
    .box .cars .orderCommon1 {
      width: 9.3333333333rem;
      background: #fff;
      box-shadow: 0 0.0533333333rem 0.1066666667rem 0 #D5D9DD;
      border-radius: 0.2133333333rem;
      margin: 0.5333333333rem auto 0;
      padding-bottom: 0.4rem; }
      .box .cars .orderCommon1 .orderTitle {
        text-align: center;
        width: 100%;
        height: 1.0133333333rem;
        font-size: 0.3466666667rem;
        color: #425C72;
        letter-spacing: 0;
        line-height: 1.0133333333rem;
        font-weight: bold;
        margin-top: 0.2666666667rem;
        position: relative; }
        .box .cars .orderCommon1 .orderTitle .last {
          height: 1.0133333333rem;
          width: 1.0666666667rem;
          position: absolute;
          right: 0.5333333333rem;
          top: 0;
          line-height: 1.0133333333rem;
          font-size: 0.2666666667rem;
          color: #0DB95F; }
          .box .cars .orderCommon1 .orderTitle .last .trangle {
            width: 0.16rem;
            height: 0.08rem;
            background: url("../images/Triangle 3.png");
            -webkit-background-size: cover;
            background-size: cover;
            position: absolute;
            right: -0.2666666667rem;
            top: 46%; }
          .box .cars .orderCommon1 .orderTitle .last #last {
            width: 1.8rem;
            height: 1.0133333333rem;
            line-height: 1.0133333333rem;
            text-align: right;
            font-size: 0.2666666667rem;
            color: #0DB95F;
            float: right; }
      .box .cars .orderCommon1 .date {
        width: 5.8666666667rem;
        height: 0.8rem;
        margin: 0.16rem auto;
        background: #F2F3F5;
        box-shadow: inset 0 0.0266666667rem 0.1066666667rem 0 #D5D9DD;
        border-radius: 2.6666666667rem;
        display: flex; }
        .box .cars .orderCommon1 .date .showDate {
          width: 2.4rem;
          height: 0.8rem;
          line-height: 0.8rem;
          font-size: 0.32rem;
          color: #0DB95F;
          letter-spacing: 0;
          margin-left: 0.6133333333rem; }
          .box .cars .orderCommon1 .date .showDate .appDateTime {
            width: 1.5666666667rem;
            font-size: 0.32rem;
            color: #0DB95F;
            letter-spacing: 0;
            height: 0.8rem;
            background: transparent; }
        .box .cars .orderCommon1 .date .preDateBtn {
          height: 0.8rem;
          line-height: 0.8rem;
          font-size: 0.2666666667rem;
          color: #647888;
          letter-spacing: 0;
          margin-left: 0.32rem; }
        .box .cars .orderCommon1 .date .nextDateBtn {
          height: 0.8rem;
          line-height: 0.8rem;
          font-size: 0.2666666667rem;
          color: #647888;
          letter-spacing: 0;
          margin-left: 0.6133333333rem; }
      .box .cars .orderCommon1 .changeline {
        width: 100%;
        height: 1.0133333333rem;
        display: -webkit-flex;
        display: flex; }
        .box .cars .orderCommon1 .changeline .last {
          height: 1.0133333333rem;
          width: 2.4rem;
          position: relative;
          line-height: 1.0133333333rem;
          font-size: 0.2666666667rem;
          color: #0DB95F;
          margin-right: 0.2666666667rem; }
          .box .cars .orderCommon1 .changeline .last .trangle {
            width: 0.16rem;
            height: 0.08rem;
            background: url("../images/Triangle 3.png");
            -webkit-background-size: cover;
            background-size: cover;
            position: absolute;
            right: -0.2666666667rem;
            top: 46%; }
          .box .cars .orderCommon1 .changeline .last #last, .box .cars .orderCommon1 .changeline .last #last1, .box .cars .orderCommon1 .changeline .last #last2, .box .cars .orderCommon1 .changeline .last #last3, .box .cars .orderCommon1 .changeline .last #last4, .box .cars .orderCommon1 .changeline .last #last5 {
            width: 1.8rem;
            float: right;
            height: 1.0133333333rem;
            line-height: 1.0133333333rem;
            text-align: right;
            font-size: 0.2666666667rem;
            color: #0DB95F; }
      .box .cars .orderCommon1 .choose {
        width: 4.8rem;
        height: 0.5866666667rem;
        margin: 0 auto 0.2666666667rem; }
        .box .cars .orderCommon1 .choose .chooseCom {
          width: 1.6rem;
          height: 100%;
          text-align: center;
          line-height: 0.5866666667rem;
          font-size: 0.2666666667rem;
          color: #647888;
          background: #F2F3F5; }
        .box .cars .orderCommon1 .choose .chooseCom.active {
          color: #FFFFFF;
          background: #09CA65; }
        .box .cars .orderCommon1 .choose .chooseCom:first-child {
          border-radius: 2.6666666667rem 0 0 2.6666666667rem; }
        .box .cars .orderCommon1 .choose .chooseCom:last-child {
          border-radius: 0 2.6666666667rem 2.6666666667rem 0; }
      .box .cars .orderCommon1 .container {
        width: 9.0666666667rem;
        margin: 0 auto;
        overflow-x: scroll; }
        .box .cars .orderCommon1 .container .scroller {
          width: 15.8rem; }
          .box .cars .orderCommon1 .container .scroller .headLine {
            height: 0.5333333333rem;
            width: 15.6rem;
            margin: 0 auto;
            font-size: 0.3466666667rem;
            color: #365873;
            letter-spacing: 0;
            border-bottom: 0.03rem solid #EAEFF3;
            display: flex; }
            .box .cars .orderCommon1 .container .scroller .headLine p {
              width: 14.28%;
              height: 0.5333333333rem;
              line-height: 0.5333333333rem;
              text-align: left; }
          .box .cars .orderCommon1 .container .scroller .orderList {
            width: 15.6rem;
            margin: 0 auto; }
            .box .cars .orderCommon1 .container .scroller .orderList .anlysis {
              width: 100%;
              height: 0.5333333333rem;
              line-height: 0.5333333333rem;
              display: flex; }
              .box .cars .orderCommon1 .container .scroller .orderList .anlysis p {
                width: 14.28%;
                text-align: left;
                font-size: 0.2666666667rem;
                color: #425C72;
                letter-spacing: 0;
                overflow-x: scroll; }
              .box .cars .orderCommon1 .container .scroller .orderList .anlysis .orderUp {
                width: 0.24rem;
                height: 0.2666666667rem;
                margin-right: 0.1333333333rem;
                margin-top: 0.1333333333rem; }
        .box .cars .orderCommon1 .container .scrollersitecar0 {
          width: 23rem; }
          .box .cars .orderCommon1 .container .scrollersitecar0 .headLine {
            height: 0.5333333333rem;
            width: 22.8rem;
            margin: 0 auto;
            font-size: 0.3466666667rem;
            color: #365873;
            letter-spacing: 0;
            border-bottom: 0.03rem solid #EAEFF3;
            display: flex; }
            .box .cars .orderCommon1 .container .scrollersitecar0 .headLine p {
              width: 11.111%;
              height: 0.5333333333rem;
              line-height: 0.5333333333rem; }
          .box .cars .orderCommon1 .container .scrollersitecar0 .orderList {
            width: 22.8rem;
            margin: 0 auto; }
            .box .cars .orderCommon1 .container .scrollersitecar0 .orderList .anlysis {
              width: 100%;
              height: 0.5333333333rem;
              line-height: 0.5333333333rem;
              display: flex; }
              .box .cars .orderCommon1 .container .scrollersitecar0 .orderList .anlysis p {
                width: 11.111%;
                font-size: 0.2666666667rem;
                color: #425C72;
                letter-spacing: 0;
                overflow-x: scroll; }
              .box .cars .orderCommon1 .container .scrollersitecar0 .orderList .anlysis .orderUp {
                width: 0.24rem;
                height: 0.2666666667rem;
                margin-right: 0.1333333333rem;
                margin-top: 0.1333333333rem; }
        .box .cars .orderCommon1 .container .scrollersitecar {
          width: 38rem; }
          .box .cars .orderCommon1 .container .scrollersitecar .headLine {
            height: 0.5333333333rem;
            width: 37.8rem;
            margin: 0 auto;
            font-size: 0.3466666667rem;
            color: #365873;
            letter-spacing: 0;
            border-bottom: 0.03rem solid #EAEFF3;
            display: flex; }
            .box .cars .orderCommon1 .container .scrollersitecar .headLine p {
              width: 5.88%;
              height: 0.5333333333rem;
              line-height: 0.5333333333rem; }
          .box .cars .orderCommon1 .container .scrollersitecar .orderList {
            width: 37.8rem;
            margin: 0 auto; }
            .box .cars .orderCommon1 .container .scrollersitecar .orderList .anlysis {
              width: 100%;
              height: 0.5333333333rem;
              line-height: 0.5333333333rem;
              display: flex; }
              .box .cars .orderCommon1 .container .scrollersitecar .orderList .anlysis p {
                width: 5.88%;
                font-size: 0.2666666667rem;
                color: #425C72;
                letter-spacing: 0;
                overflow-x: scroll; }
              .box .cars .orderCommon1 .container .scrollersitecar .orderList .anlysis .orderUp {
                width: 0.24rem;
                height: 0.2666666667rem;
                margin-right: 0.1333333333rem;
                margin-top: 0.1333333333rem; }
      .box .cars .orderCommon1 .page {
        width: 2.6666666667rem;
        height: 0.5333333333rem;
        margin: 0.2666666667rem auto 0;
        display: flex;
        color: #425C72;
        font-size: 0.2666666667rem; }
        .box .cars .orderCommon1 .page .pre {
          height: 100%;
          width: 0.5333333333rem;
          line-height: 0.5333333333rem;
          text-align: center; }
        .box .cars .orderCommon1 .page .next {
          height: 100%;
          width: 0.5333333333rem;
          line-height: 0.5333333333rem;
          text-align: center; }
        .box .cars .orderCommon1 .page .page-mid {
          width: 1.6rem;
          text-align: center;
          line-height: 0.5333333333rem;
          height: 0.5333333333rem; }

.timeBorder {
  width: 5.8666666667rem;
  height: 0.8rem;
  margin: 0 auto 0.16rem !important;
  background: #F2F3F5;
  box-shadow: inset 0 0.0266666667rem 0.1066666667rem 0 #D5D9DD;
  border-radius: 2.6666666667rem;
  display: flex;
  line-height: 0.8rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.4rem;
  font-size: 0.32rem;
  color: #647888; }
  .timeBorder .appDateTime {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5666666667rem;
    font-size: 0.32rem;
    color: #0DB95F;
    letter-spacing: 0;
    height: 0.8rem;
    background: transparent; }
  .timeBorder .appDateTime1 {
    width: 1.5666666667rem;
    font-size: 0.32rem;
    color: #0DB95F;
    letter-spacing: 0;
    height: 0.8rem;
    background: transparent; }

/*# sourceMappingURL=site.css.map */
