/**
 * Recode: zhangfs by Atom
 * Date: 2018/04/19 15:25
 * Note: old 535 lines; recode: 139 lines
 */
.wrap {
    margin: 0.8rem auto 0;
}
.echarts {
    height: 5rem;
}

/* 实时营收 icon */
.income-chart .flag-title {
    background: -moz-linear-gradient(180deg, #f1d591 10%, #ffa313);
    background: -ms-linear-gradient(180deg, #f1d591 10%, #ffa313);
    background: -o-linear-gradient(180deg, #f1d591 10%, #ffa313);
    background: -webkit-linear-gradient(180deg, #f1d591 10%, #ffa313);
    background: linear-gradient(180deg, #f1d591 10%, #ffa313);
}
.income-chart .flag-title:before {
    border-right: solid .375rem #ffa313;
    border-left: solid .375rem #ffa313;
}

.income-table .scroll-cont .headLine, .incrTableVal {
    width: 16rem;
}
.income-table .scroll-cont .headLine p, .incrTableVal li p {
    width: 11.25%;
    text-align: center;
}
.income-table .scroll-cont .headLine p:nth-of-type(1), .incrTableVal li p:nth-of-type(1) { width:10%; }


/* 车辆现况 icon */
.car-chart .flag-title {
    background: -moz-linear-gradient(180deg, #32f9a7 10%, #0db95f);
    background: -ms-linear-gradient(180deg, #32f9a7 10%, #0db95f);
    background: -o-linear-gradient(180deg, #32f9a7 10%, #0db95f);
    background: -webkit-linear-gradient(180deg, #32f9a7 10%, #0db95f);
    background: linear-gradient(180deg, #32f9a7 10%, #0db95f);
}
.car-chart .flag-title:before {
    border-right: solid .375rem #0db95f;
    border-left: solid .375rem #0db95f;
}

.car-table .scroll-cont .headLine, .carrTableVal {
    width: 25rem;
}
.car-table .scroll-cont .headLine p, .carrTableVal li p {
    width: 7.14%;
    text-align: center;
}
.car-table .scroll-cont .headLine p:nth-of-type(1), .carrTableVal li p:nth-of-type(1) { width: 5%; }
.car-table .scroll-cont .headLine p:nth-of-type(5), .carrTableVal li p:nth-of-type(5) { width: 10%; }
.car-table .scroll-cont .headLine p:nth-of-type(6), .carrTableVal li p:nth-of-type(6) { width: 10%; }


/* 车辆概况上下架选择样式 */
.car-chart .simpleSelection {
    top: 1.1rem;
    right: .8rem;
}
.car-chart .simpleSelection input {
    float: right;
    margin-right: 20%;
}

.noteLine p {
    text-align: left;
}


/* 实时订单 icon */
.order-chart .flag-title {
    background: -moz-linear-gradient(180deg, #59ffd1 10%, #01c6b6);
    background: -ms-linear-gradient(180deg, #59ffd1 10%, #01c6b6);
    background: -o-linear-gradient(180deg, #59ffd1 10%, #01c6b6);
    background: -webkit-linear-gradient(180deg, #59ffd1 10%, #01c6b6);
    background: linear-gradient(180deg, #59ffd1 10%, #01c6b6);
}
.order-chart .flag-title:before {
    border-right: solid .375rem #01c6b6;
    border-left: solid .375rem #01c6b6;
}

.order-table .scroll-cont .headLine, .orTableVal {
    width: 20rem;
}
.order-table .scroll-cont .headLine p, .orTableVal li p {
    width: 9%;
    text-align: center;
}
.order-table .scroll-cont .headLine p:nth-of-type(1), .orTableVal li p:nth-of-type(1) { width: 5%; }
.order-table .scroll-cont .headLine p:nth-of-type(2), .orTableVal li p:nth-of-type(2) { width: 11%; }
.order-table .scroll-cont .headLine p:nth-of-type(3), .orTableVal li p:nth-of-type(3) { width: 14%; }
.order-table .scroll-cont .headLine p:nth-of-type(4), .orTableVal li p:nth-of-type(4) { width: 14%; }
.order-table .scroll-cont .headLine p:nth-of-type(6), .orTableVal li p:nth-of-type(6) { width: 10%; }
.order-table .scroll-cont .headLine p:nth-of-type(7), .orTableVal li p:nth-of-type(7) { width: 10%; }


/* 实时新增用户 icon */
.newguy-chart .flag-title {
    background: -moz-linear-gradient(200deg, #81d4ff 10%, #a28fff);
    background: -ms-linear-gradient(200deg, #81d4ff 10%, #a28fff);
    background: -o-linear-gradient(200deg, #81d4ff 10%, #a28fff);
    background: -webkit-linear-gradient(200deg, #81d4ff 10%, #a28fff);
    background: linear-gradient(200deg, #81d4ff 10%, #a28fff);
}
.newguy-chart .flag-title:before {
    border-right: solid .375rem #a28fff;
    border-left: solid .375rem #a28fff;
}

.newguy-table .scroll-cont .headLine,
.ngTableVal,
.site-real .scroll-cont .headLine,
.srVal {
    width: 14rem;
}

.newguy-table .scroll-cont .headLine p,
.ngTableVal li p {
    width: 17.75%;
    text-align: center;
}
.newguy-table .scroll-cont .headLine p:nth-of-type(1), .ngTableVal li p:nth-of-type(1) { width: 10%; }
.newguy-table .scroll-cont .headLine p:nth-of-type(4), .ngTableVal li p:nth-of-type(4) { width: 19%; }


/* 实时网点概况 */
.site-real .scroll-cont .headLine p,
.srVal li p {
    width: 13.3%;
    text-align: center;
}
.site-real .scroll-cont .headLine p:nth-of-type(1),
.srVal li p:nth-of-type(1) {
    width: 20%;
}



/* 车辆续航 icon */
.car-battery .flag-title {
    background: -moz-linear-gradient(200deg, #aee769 10%, #4ab90d);
    background: -ms-linear-gradient(200deg, #aee769 10%, #4ab90d);
    background: -o-linear-gradient(200deg, #aee769 10%, #4ab90d);
    background: -webkit-linear-gradient(200deg, #aee769 10%, #4ab90d);
    background: linear-gradient(200deg, #aee769 10%, #4ab90d);
}
.car-battery .flag-title:before {
    border-right: solid .375rem #4ab90d;
    border-left: solid .375rem #4ab90d;
}
